.sections {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.sections-full {
  margin: 5px;
  border: 1px solid;
  padding: 5px;
  width: calc(100% - 20px);
}

.sections-half {
  margin: 5px;
  border: 1px solid;
  padding: 5px;
  width: calc(50% - 20px);
}

.sections-half-title {
  text-align: center;
  border-bottom: 1px solid;
}

.sections-half-content {
  margin: 3px;
}

.sections-half-action {
  text-align: right;
  border-top: 1px solid;
  position: static;
  bottom: 0px;
}